<div class="con">
  <div id="header">
      <ol>
          <li><h1>Магазин сувениров админ</h1></li>
      </ol>
  </div>

  <div id="left-sidebar">
      <div id="menu">
          <ol>                    
              <li>
                  <a routerLink="/categories" routerLinkActive="active" class="nav-link">Категории</a>
              </li>
              <li>
                  <a routerLink="/product" routerLinkActive="active" class="nav-link">Продукты</a>
              </li>
          </ol>
      </div>
  </div>

  <!-- Контент маршрутов -->
  <router-outlet></router-outlet>
</div>
